*{
	padding: 0;
	margin: 0;
}

.row-header{
	padding: 50px;
}
.row-content{
	margin-top: 30px;
}
.row-footer{
	margin-top: 30px;
	padding-top: 50px;
}
.row-footer .container .row{
	text-align: center;
}
header{
    background-color: #9575CD!important;
    color: #fff
}
.aboutus .container h3{
	margin-bottom: 30px;
}

.hblog h2{
	margin-top: 30px;
}

footer{
    background-color: #D1C4E9;
}
.cpr{
	margin-top: 30px;
}